$white: #fff;
$mainBakLightBlue: #e7f2ff;
$focusBorderBlue: #2373d4;
$mainBakLightGrey: #f3f4f7;
$mainSkyBlue: #1fbfef;
$mainBakDarkBlue: #04215c;
$bakBlack: rgba(0, 0, 0, 0.3);
$shadow: rgba(0,0,0,0.15)
