@import "common.scss";

.question {
  padding: 20px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: $white;
  position: relative;
  transition: all 0.7s ease;
  animation: slide 0.7s ease;
}

@keyframes slide {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
  }
}

.question_title {
  padding-bottom: 10px;
  & > input {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.type_options {
  padding: 5px;
  position: absolute;
  right: 15px;
  top: 20px;
}

.question_del_btn {
  border: none;
  outline: none;
  padding: 5px 7px;
  border-radius: 3px;
  background-color: $buttonDarkBlue;
  color: $white;
  position: absolute;
  right: 15px;
  bottom: 20px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
